.building {
  margin: 2rem;
  width: 60%;
  position: relative;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.floor {
  border-bottom: 2px solid black;
}

.lift {
  width: 3rem;
  background-color: aqua;
  display: block;
  position: absolute;
  transition: 1s;
}

.button {
  border-radius: 0.5rem;
  padding: 0.4rem 0.2rem;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}
