.building {
  margin: 2rem;
  width: 60%;
  position: relative;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.floor {
  border-bottom: 2px solid black;
}

.lift {
  width: 3rem;
  background-color: aqua;
  display: block;
  position: absolute;
  transition: 1s;
}
